@model DevXuongMoc.Models.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-info text-white">
            <h4 class="mb-0">Thông tin sản phẩm</h4>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="text-center">
                        <img src="@Model.Image" width="500px" class="img-fluid" alt="Ảnh sản phẩm" />
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Tên sản phẩm</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>
                        <div class="mb-4">
                            Mô tả:
                            <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</p>
                        </div>

                        <div class="mb-4">
                            Nội dung chi tiết:
                            <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))</p>
                        </div>
                        <dt class="col-sm-4 font-weight-bold">Giá cũ</dt>
                        <dd class="col-sm-8">
                            <span class="text-muted text-decoration-line-through">@Html.DisplayFor(model => model.PriceOld)</span>
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">Giá mới</dt>
                        <dd class="col-sm-8 text-success">
                            <strong>@Html.DisplayFor(model => model.PriceNew)</strong>
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">Kích thước</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Size)</dd>
                    </dl>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary mb-2 giohang" data-product-id="@Model.Id">Thêm vào giỏ</a>
                        <a class="btn btn-secondary mb-2" asp-action="Index">Quay lại danh sách</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('.giohang').click(function(e) {
                e.preventDefault();
                var productId = $(this).data('product-id');
                $.post('/Cart/AddToCart', { productId: productId }, function(response) {
                    alert('Sản phẩm đã được thêm vào giỏ hàng!');
                });
            });
        });
    </script>
}